<div class="container">
    <div class="container d-flex justify-content-between">
      <p class="fst-italic">Author - {{ sentQuote.author }}</p>
      <small class="fst-italic">{{ sentQuote.date | date }}</small>
    </div>
    <div class="d-flex justify-content-start container mt-1">
      <button type="button" class="btn btn-info me-4" (click)="sentQuote.upVote()">
        upvote <span class="badge bg-secondary">{{ sentQuote.upvotes }}</span>
      </button>
      <button type="button" class="btn btn-danger" (click)="sentQuote.downVote()">
        downvote <span class="badge bg-secondary">{{ sentQuote.downvotes }}</span>
      </button>
    </div>
</div>