<div class="d-flex justify-content-between">
  <p class="fs-5 fw-bold"><span class="me-2">{{ indexTracker+1 }}.</span>{{ receivedQuote.quote }}</p>
  <div class="d-flex flex-column">
    <fa-icon [icon]="expand" (click)="showDetails()" class="mb-2"></fa-icon>
    <fa-icon [icon]="bin"></fa-icon>
  </div>
</div>
<div *ngIf="receivedQuote.show" class="container">
  <p class="fst-italic">Author - {{ receivedQuote.quote }}</p>
  <div class="d-flex justify-content-start">
    <button type="button" class="btn btn-info me-4" (click)="receivedQuote.upVote()">
      upvote <span class="badge bg-secondary">{{ receivedQuote.upvotes }}</span>
    </button>
    <button type="button" class="btn btn-danger" (click)="receivedQuote.downVote()">
      downvote <span class="badge bg-secondary">{{ receivedQuote.downvotes }}</span>
    </button>
  </div>
</div>
