<div class="container d-flex justify-content-center align-items-center flex-column pt-5">

    <div class="d-flex justify-content-between w-50">
        <p class="fs-3 text-light fw-bold">Your Quotes</p>
        <button class="btn btn-sm fs-6 fw-bold btn-warning w-25 h-50 text-light" (click)="toggleForm()">Add</button>
    </div>

    <div *ngIf="showForm" class="w-50">
        <form #form="ngForm">
          <div class="mb-3">
            <input type="text" class="form-control" id="name" placeholder="Your Name">
          </div>
          <div class="mb-3">
            <textarea type="text" class="form-control" id="quote" placeholder="Quote" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="author" placeholder="Author">
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-warning fw-bold text-light">Submit</button>
          </div>
        </form>
    </div>
</div>